.imgSkill:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.imgSkill {
    width: 40px;
   
}

@media screen and (max-width: 621px) {
    .imgSkill {
        width: 30px;
    }
}