.boxskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px; 
    width: 70%;
    height: 100%;
    padding:10px;
    box-sizing: border-box;
    
}

