.boxskills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding:10px;
  box-sizing: border-box;
  list-style: none;
  border-radius: 20px;
  background: linear-gradient(
  170deg,
  rgba(43, 41, 41, 0.623) 0%,
  rgb(12, 12, 12) 100%
  );
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
  padding: 5px;
}

.boxskills > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.boxskills > li > img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.boxskills > li > p {
  font-size: 15px;
    
}

