.boxskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px; 
    width: 70%;
    height: 100%;
    padding:10px;
    box-sizing: border-box;
    list-style: none;
}

.boxskills > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.boxskills > li > img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.boxskills > li > p {
    font-size: 15px;
}

