.boxskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px; 
    width: 70%;
    height: 100%;
    padding:10px;
    box-sizing: border-box;
    background-color: #095169;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(89, 89, 89, 0.5);
}

