.boxVSC {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 50px;
}

.boxHeaderVSC {
  display: flex;
  background-color: #333;
  /* padding: 10px; */
}

.tab {
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid gray;
  background-color: #2d2d2d;
  cursor: pointer;

}

.tab.activeTab {
  background-color: #1e1e1e;
  border-top: 2px solid #007acc;
}

.headerVSC {
  font-size: small;
  position: relative;
  margin-top: 0;
  width: max-content;
  background-color: #333;
}

.tab img {
  margin-right: 5px;
}

.boxBodyVSC {
  flex-grow: 1;
  background-color: #1e1e1e;
  overflow: hidden; /* Evita que el contenido desborde */
}

.scrollableContent {
  height: 400px; /* Altura fija del contenido */
  overflow-y: auto; /* Hace que haya scroll si el contenido es más largo */
  padding: 20px; /* Espaciado interior para el contenido */
}

/* Estilos de la barra de desplazamiento */
.scrollableContent::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.scrollableContent::-webkit-scrollbar-track {
  background-color: #1e1e1e; /* Color del fondo de la barra de desplazamiento */
}

.scrollableContent::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del "thumb" (la parte deslizante de la barra) */
  border-radius: 5px; /* Borde redondeado del "thumb" */
}

@media (max-width: 1025px) {
  .boxVSC {
    width: 90%;
  }

  .boxHeaderVSC img {
    width: 20px;
  }

  .tab {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .tab {
    font-size: 13px;
    padding: 5px;
  }

  .boxHeaderVSC img {
    width: 15px;
  }
}