.baseHeader {
    display: flex;
    justify-content:space-between;
    color: #9fd86b;
    align-items: center;
    /* box-shadow: 0 0 10px #9fd86b; */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.logoName {
    display: flex;
}

.img {
    width: 70px;
    margin-right: 40px;
}

.imgHover1:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

@keyframes spin {
    from {}
    to {
        rotate: -360deg;
    }
  }
  
  .img:hover {
    animation-name: spin;
    animation-duration: 1.5s; 
    animation-iteration-count:infinite;
}

.imgLogo {
    margin-left: 10px;
}

.imgGithubIn {
    margin-right: 10px;
}

.developerText {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(96, 96, 96);
    display: inline-block;
    position: absolute;
    left: 100%; 
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease; 
}






@keyframes gift {
    from {}
    to {
        rotate: -360deg;
    }
}

.img2 {
    width: 60px;
    margin-right: 40px;
}

.img2:hover {
    animation-name: gift2;
    animation-duration: 1.5s; 
    animation-iteration-count: 1;
}

@keyframes gift2 {
    from {}
    to {
        rotate: -360deg;
    }
}


.boxNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.btnNav {
    padding: 10px 20px;
    background-color: #97C257;
    border: 3px solid #7A925C;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(93, 92, 92);
    text-decoration: none; 
}

.btnNav a {
    text-decoration: none;
}
.btnNav:hover {
    border: 3px solid #8dde7b;
}

.linkNavbar {
    background-color: #ffffff00;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9FD86B;
    padding: 10px;
    border: 1px solid #9FD86B;
    border-radius: 10px;
    position: relative; 
} .linkNavbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px; 
    width: 100%;
    height: 2px; 
    background-color: #9FD86B; 
    transition: all 0.3s ease-in-out;
    opacity: 0; 
} .linkNavbar.activeLink::after { 
    opacity: 1;
} .linkNavbar:hover {
    background-color: #9FD86B;
    color: #000;
    transition: all 0.3s ease-in-out;
} .activeLink { /* Estilos enlace activo */
    position: relative;
    cursor: default;
    background-color: #9FD86B;
    color: #000;
    transition: all 0.3s ease-in-out;
}

  

.textNone {
    text-decoration: none;
}

@media (max-width: 768px) {
    .baseHeader {
        padding: 5px;
    }

    .imgLogo {
        margin-left: 0px;
    }

    .btnNav {
        padding: 5px 10px;
        height: auto; 
    }
}

@media (max-width: 500px) {

    .imgLogo {
        margin-left: 0px;
    }

    .img {
        width: 50px;
        margin-right: 0px;
    }
}