.boxGreeting {
    display: flex;
    flex-direction: column;
    
    margin: 30px;
    padding-bottom: 50px;
}

.helloImg {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

}

.textStart {
    justify-content: start;
    font-size: 28px;
}

.imgMen {
    width: 300px;
    z-index: 2;
    position:static;
    
}

.divMen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backgroundTek {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    top: 0px;
    height: 900px;
    width: 600px;
}

.myDescription a {
    color: #9fd86b;
}

.boxMyDescription {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myDescription {
    padding: 15px;
    border-radius: 10px;
}

.btnRead {
    background-color: #9fd86b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #9fd86b;
} .btnRead:hover {
    background-color: #60823f;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1450px) {
    .textStart {
        font-size: 25px;
    }

    .imgMen {
        width: 350px;        
    }

    .boxGreeting {
        margin: 15px;
    }
}

@media screen and (max-width: 1026px) {
    .imgMen {
        width: 240px;        
    }
    

    .boxMyDescription {
        width: 100%;
    }

    .helloImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 853px) {
    
    .boxMyDescription h1 {
        font-size: 30px;
        width: 100%;
    }

    .textStart {
        text-align: center;
    
    }

    .boxMyDescription {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 445px) {
    
}

@media screen and (max-width: 445px) {
    .boxMyDescription h1 {
        font-size: 25px;
    }
}

