.boxGreeting {
    margin: 30px;
    padding-bottom: 50px;
}

.helloImg {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

}

.textStart {
    justify-content: start;
    font-size: 28px;
}

.imgMen {
    width: 500px;
    z-index: -2;
    position:static;
    
}

.divMen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myDescription a {
    /* text-decoration: none; */
    color: #9fd86b;
}

.shadowMen {
    background: rgb(159,216,107);
    background: radial-gradient(circle, rgba(159,216,107,0.36720554272517325) 30%, rgba(186,78,157,0) 55%);
}

.boxDescription {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myDescription {
    background-color: #a0d86b0e;
    padding: 15px;
    border-radius: 10px;
}

.btnRead {
    background-color: #9fd86b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #9fd86b;
} .btnRead:hover {
    background-color: #60823f;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1450px) {
    .textStart {
        font-size: 25px;
    }

    .imgMen {
        width: 350px;        
    }

    .boxGreeting {
        margin: 15px;
    }
}

@media screen and (max-width: 1026px) {
    

    .boxDescription {
        width: 100%;
    }

    .helloImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 853px) {
    
    .boxDescription h1 {
        font-size: 30px;
        width: 100%;
    }

    .textStart {
        text-align: center;
    
    }

    .boxDescription {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 445px) {
    .imgMen {
        width: 240px;        
    }
}

/* @media screen and (max-width: 1126px) {
    .imgMen {
        width: 350px;        
    }
}

@media screen and (max-width: 970px) {
    .boxDescription h1 {
        font-size: 30px;
        width: 100%;
    }
    .boxGreeting {
       font-size: 20px;
    }
}

@media screen and (max-width: 764px) { 
    .boxGreeting {
        flex-direction:column-reverse;
    }

    .boxDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .myDescription h3 {
        width: 400px;
    }
}

@media screen and (max-width: 455px) { 
    .boxDescription {
        
    }
} */