.boxGreeting {
    margin: 30px;
    padding-bottom: 50px;
}

.helloImg {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

}

.textStart {
    justify-content: start;
    font-size: 28px;
}

.imgMen {
    width: 500px;
    z-index: -2;
    position:static;
    
}

.divMen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backgroundTek {
    position: absolute;
    z-index: -5;
    opacity: 0.1;
    top: 40px;
}

.myDescription a {
    /* text-decoration: none; */
    color: #9fd86b;
}

.shadowMen {
    background: rgb(159,216,107);
    background: radial-gradient(circle, rgba(159,216,107,0.36720554272517325) 30%, rgba(186,78,157,0) 55%);
}

.boxMyDescription {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixed {
    height: 60px;
    width: 100%;
    margin-bottom: 90px;
}

.myDescription {
    background-color: #c1c1c10e;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.124);
    padding: 15px;
    border-radius: 10px;
    
}

.btnRead {
    background-color: #9fd86b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #9fd86b;
} .btnRead:hover {
    background-color: #60823f;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1450px) {
    .textStart {
        font-size: 25px;
    }

    .fixed {
        height: 30px;
        margin-bottom: 30px;
    }

    .boxMyDescription h1 {
        font-size: 35px;
    }

    .imgMen {
        width: 350px;        
    }

    .boxGreeting {
        margin: 15px;
    }
}

@media screen and (max-width: 1026px) {
    .textStart {
        text-align: center;
    
    }

    .boxMyDescription {
        width: 100%;
    }

    .helloImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 853px) {
    
    .boxMyDescription h1 {
        width: 100%;
    }

    .textStart {
        text-align: center;
    
    }

    .boxMyDescription {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 445px) {
    .imgMen {
        width: 240px;        
    }
}

@media screen and (max-width: 445px) {
    .boxMyDescription h1 {
        font-size: 25px;
    }
}

