.color2 {
  color: #9fd86b;
}

.Body2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 5px;
  font-family: inherit;
  background-image: url("./images/fondoTextura.png"); /* ruta a tu imagen */
  background-repeat: repeat-y;          /* se repite solo hacia abajo */
  background-position: center top;      /* centrado horizontalmente */
  background-attachment: scroll;        /* se mueve con el scroll */
  background-size: contain;             /* mantiene proporciones */
  background-color: #2b2b2b8f;            /* color base detrás */
  margin: 0;
  padding: 0;
  z-index: 2;
}


.boxSizeText {
  font-size: 15px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hello {
  position: relative;
}

.reverse {
  flex-direction: row-reverse;
}

.imgHombre {
  width: 500px;
  position: relative;
  z-index: -1;
}

/* ----------------GLOVAL STYLES------------------ */

/* container */
.flex {
  display: flex;
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.borderR {
  margin-right: 13px;
}

.btw {
  justify-content: space-between;
  align-items: center;
}

.gap-40 {
  gap: 40px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

/* MARGIN */

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-40 {
  margin: 40px;
}

/* CARD */

.borderCard {
  border-radius: 20px;
  background: linear-gradient(
    170deg,
    rgba(58, 56, 56, 0.623) 0%,
    rgb(31, 31, 31) 100%
  );
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
}

.borderCard2 {
    border-radius: 20px;
  background: linear-gradient(
    170deg,
    rgba(88, 86, 86, 0.623) 0%,
    rgb(63, 63, 63) 100%
  );
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
}

.borderCardBg {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-family: inherit;
  /* background-image: url("./images/fondoDev.png");  ruta a tu imagen */
  background-repeat:repeat;
  background-position: center top;      /* centrado horizontalmente */
  background-attachment: scroll;        /* se mueve con el scroll */
  background-size: contain;             /* mantiene proporciones */
  background-color: #00000000;            /* color base detrás */
  margin: 0;
  padding: 0;
  z-index: -1;
}

.border-radius {
  border-radius: 10px;
}

.bg-ligth {
  background-color: #f0eaf9;
}

/* WIDTH */

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

/* BUTTON */

.myBtn {
  position: relative;
  display: inline-block;
  /* margin: 15px; */
  padding: 5px 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #8d50ff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.8s;
  border: 2px solid #8d50ff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #8d50ff;
}
.myBtn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #8d50ff;
}
.myBtn.active {
  color: white;
  background-color: #8d50ff;
}

/* ---------------------------------------------------------------------- */
