html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 0;
  /* padding: 5px; */
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  background-image: url("./images/fondoTextura.png"); /* ruta a tu imagen */
  background-repeat: repeat;
  background-position: center top;      /* centrado horizontalmente */
  background-attachment: scroll;        /* se mueve con el scroll */
  background-size: contain;             /* mantiene proporciones */
  background-color: #00000000;            /* color base detrás */
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

